@model ProjectThijsChris.Models.Persoon
@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<form method="post" class="contactform">
    <div class="form-group">
        @Html.LabelFor(m => m.voornaam)
        @Html.TextBoxFor(m => m.voornaam)
        @Html.ValidationMessageFor(m => m.voornaam)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.achternaam)
        @Html.TextBoxFor(m => m.achternaam)
        @Html.ValidationMessageFor(m => m.achternaam)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.email)
        @Html.TextBoxFor(m => m.email)
        @Html.ValidationMessageFor(m => m.email)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.telefoonnummer)
        @Html.TextBoxFor(m => m.telefoonnummer)
        @Html.ValidationMessageFor(m => m.telefoonnummer)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.adres)
        @Html.TextBoxFor(m => m.adres)
        @Html.ValidationMessageFor(m => m.adres)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.beschrijving)
        @Html.TextBoxFor(m => m.beschrijving)
        @Html.ValidationMessageFor(m => m.beschrijving)
    </div>

    <input type="submit" value="verstuur" />
</form>